.box {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    
    
    animation-name: rollin;
    animation-duration: 5s;
    animation-delay: .1s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes rollin {
    0% {
      transform: translate(0px, 300px) rotateZ(0deg);
    }
    25% {
      transform: translate(500px, 500px) rotateZ(360deg);
    }
    50% {
      transform: translate(0px, 300px) rotateZ(0deg);
    }
    100% {
      transform: translate(300px, 100px) rotateZ(360deg);
    }
  }